* {
    margin: 0;
    padding: 0;
    font-family: 'Averia Libre', cursive;
}

.menu {
    display: flex;
    height: 87px;
    background-color: #8FE1D9;
    flex-direction: row;
    justify-content: space-between;
}

.menu-esquerda {
    display: flex;
    align-items: center;
}

.logo {
    height: 51px;
    width: 51px;
    margin-left: 18px;
    margin-top: 5px;
    margin-right: 16px;
}

.app-name {
    font-size: 48px;
    font-weight: 400;
    color: #419ED7;
}

.menu-direita {
    display: flex;
    align-items: center;
    padding-right: 17px;
}

.menu-direita ul {
    list-style: none;
}

.menu-item {
    background-color: #419ED7;
    width: 198px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.25);
}

.item {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.main-container {
    height: calc(100vh - 87px);
    width: 100%;
    background-size: 100% 100%;
    background-image: linear-gradient(180deg, rgba(105, 105, 105, 0.95) 15%, rgba(0, 0, 0, 0.35) 40%, rgba(105, 105, 105, 0.95)), url('imgs/backgroun-index.jpeg');
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-principal {
    width: 841px;
    color: #419ED7;
    font-size: 64px;
    font-weight: 400;
    line-height: 76px;
    padding-bottom: 84px;
}

.btn-cadastro {
    width: 304px;
    height: 59px;
    background-color: #419ED7;
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.25);
}